@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-bg-primary: #ff740a;
  --color-text-primary: #353535;
}

@theme {
  --width-8xl: 96rem;
  --max-width-8xl: 96rem;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}